<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tyshawn.dao.IBookDao">
    <insert id="insert" parameterType="Book">
        insert into t_book(name, author) values(#{name},#{author});
    </insert>
    
    <select id="getById" parameterType="Integer" resultType="Book">
        select id, name, author from t_book where id = #{id};
    </select>
    
    <select id="getAllBook" resultType="Book">
        select id, name, author from t_book;
    </select>
</mapper>